<!DOCTYPE html>
<html lang="en">
<head>
    <title>DIC Cafe</title>
    <meta charset="utf-8">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/menu.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    <nav class="header_nav">
        <a href="index.html"><img src="../images/sample_logo_k.png" class="logo" alt="Logo"></a>
        <ul class="global_nav">
        <a href="index.html" class="global_nav_item">
            <li>Home</li>
        </a>
        <a href="blueberry_pancakes.html" class="global_nav_item">
            <li>Menu</li>
        </a>
        <a href="contact.html" class="global_nav_item">
            <li>Contact</li>
        </a>
        </ul>
    </nav>
    <div class="menu_key section_inner">
    </div>
    </header>
    <div class="wrapper section_inner">
    <nav class="side_menu">
        <h1 class="side_menu_title">MENU</h1>
        <ul>
        <a href="blueberry_pancakes.html" class="side_menu_item">
            <li>Blueberry Pancakes</li>
        </a>
        <a href="strawberry_pancakes.html" class="side_menu_item">
            <li>Strawberry Pancakes</li>
        </a>
        <a href="#" class="side_menu_item">
            <li>Blended Coffee</li>
        </a>
        <a href="#" class="side_menu_item">
            <li>Cafe Latte</li>
        </a>
        <a href="#" class="side_menu_item">
            <li>Art Coffee</li>
        </a>
        <a href="#" class="side_menu_item">
            <li>Iced Coffee</li>
        </a>
        </ul>
        <aside class="side_ad">
        Click here for the business day calendar
        </aside>
    </nav>
    <article class="main">
        <section>
        <img src="../images/sample_pancake1.jpg" class="menu_image" alt="Blueberry Pancake">
        <h1 class="menu_name">Blueberry Pancake</h1>
        <p class="menu_price">¥1,200</p>
        <p>
            Topped with fresh blueberries on fluffy pancakes made with carefully selected flour and eggs.
            Please enjoy it with our elegant maple syrup if you like.
        </p>
        </section>
        <section class="pancake_menu">
        <h1 class="section_title">Pancake Menu</h1>
        <ul class="menu_list">
            <li class="menu_item">
            <div class="menu_item_content">
                <h2 class="menu_item_title">Blueberry Pancake</h2>
                <p class="menu_item_price">¥1,200</p>
                <button class="btn btn-detail">View Details</button>
            </div>
            <img src="../images/sample_pancake1.jpg" class="menu_item_image" alt="Blueberry Pancake">
            </li>
            <li class="menu_item">
            <div class="menu_item_content">
                <h2 class="menu_item_title">Strawberry Pancake</h2>
                <p class="menu_item_price">¥1,300</p>
                <button class="btn btn-detail">View Details</button>
            </div>
            <img src="../images/sample_pancake2.jpg" class="menu_item_image" alt="Strawberry Pancake">
            </li>
            <li class="menu_item">
            <div class="menu_item_content">
                <h2 class="menu_item_title">Fluffy Pancake</h2>
                <p class="menu_item_price">¥1,100</p>
                <button class="btn btn-detail">View Details</button>
            </div>
            <img src="/images/sample_pancake3.jpg" class="menu_item_image" alt="Fluffy Pancake">
            </li>
            <li class="menu_item">
            <div class="menu_item_content">
                <h2 class="menu_item_title">Banana Pancake</h2>
                <p class="menu_item_price">¥1,200</p>
                <button class="btn btn-detail">View Details</button>
            </div>
            <img src="/images/sample_pancake4.jpg" class="menu_item_image" alt="Banana Pancake">
            </li>
        </ul>
        </section>
    </article>
    </div>
    <footer class="footer">
    <nav>
        <ul class="footer_nav">
        <a href="index.html" class="footer_nav_item">
            <li>Home</li>
        </a>
        <a href="blueberry_pancakes.html" class="footer_nav_item">
            <li>Menu</li>
        </a>
        <a href="contact.html" class="footer_nav_item">
            <li>Contact</li>
        </a>
        <a href="index.html" class="footer_nav_item">
            <li>
            <img src="../images/sample_logo_w.png" class="footer_logo" alt="Footer Logo">
            </li>
        </a>
        </ul>
    </nav>
    <p class="footer_right">© DIVE INTO CODE Corp. All RIGHTS RESERVED.</p>
    </footer>
</body>
</html>